<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap gap-5">
            <div>
            <span class="text-body-secondary">Разработчик сервиса (для тестового задания) <a href="https://github.com/javoxirone"
                                                                       target="_blank">javoxirone</a></span>
            </div>
            <div>
                <ul class="d-flex flex-wrap m-0 list-unstyled column-gap-5 row-gap-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/javoxirone/text-analyzer" target="_blank">Проект в GitHub <i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                </ul>
            </div>
            <div>
                 <ul class="d-flex flex-wrap m-0 list-unstyled gap-5">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/javoxirone" target="_blank"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://linkedin.com/in/javohir-nurmatjonov" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://instagram.com/javoxirone" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://t.me/javoxirone" target="_blank"><i class="bi bi-telegram"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>