{% extends 'base.html' %}

{% block title %}
    TextAnalyzer - Анализ текстовых файлов: Исследователь частоты слов по TF-IDF
{% endblock %}


{% block main %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">TextAnalyzer</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Анализ текстовых файлов: Исследователь частоты слов по TF-IDF</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'new-file-upload' %}" class="btn btn-primary btn-lg px-4 gap-3">Анализ нового файла</a>
            </div>
        </div>
    </div>
    <div class="px-4 py-5 my-5">
        <h3 class="display-10 text-center fw-bold text-body-emphasis">Слова которые не учитываются при обработке документа</h3>
        <div class="col-lg-6 mx-auto">
            <p>
                    "и", "в", "во", "не", "что", "он", "на", "я", "с", "со", "как", "а", "то", "все", "она", "так",
    "его", "но", "да", "ты", "к", "у", "же", "вы", "за", "бы", "по", "только", "ее", "мне", "было",
    "вот", "от", "меня", "еще", "нет", "о", "из", "ему", "теперь", "когда", "даже", "ну", "вдруг",
    "ли", "если", "уже", "или", "ни", "быть", "был", "него", "до", "вас", "нибудь", "опять", "уж",
    "вам", "ведь", "там", "потом", "себя", "ничего", "ей", "может", "они", "тут", "где", "есть",
    "надо", "ней", "для", "мы", "тебя", "их", "чем", "была", "сам", "чтоб", "без", "будто", "чего",
    "раз", "тоже", "себе", "под", "будет", "ж", "тогда", "кто", "этот", "того", "потому", "этого",
    "какой", "совсем", "ним", "здесь", "этом", "один", "почти", "мой", "тем", "чтобы", "нее",
    "сейчас", "были", "куда", "зачем", "всех", "никогда", "можно", "при", "наконец", "два",
    "об", "другой", "хоть", "после", "над", "больше", "тот", "через", "эти", "нас", "про", "всего",
    "них", "какая", "много", "разве", "три", "эту", "моя", "впрочем", "хорошо", "свою", "этой",
    "перед", "иногда", "лучше", "чуть", "том", "нельзя", "такой", "им", "более", "всегда", "конечно",
    "всю", "между"
            </p>
        </div>
    </div>
{% endblock %}